<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href= "/#/meals"><%= image_tag('logo.png')%></a>
    </div>
    <div id="navbar">
      <% if current_user %>
        <ul class="nav navbar-nav pull-right">
          <li class="active">
          <a href="/#/orders">Orders</a></li>
          <a href="/#/ideas">Ideas</a></li>
          <li><%= link_to logout_path, method: :delete do%>Log out <em class="fa fa-sign-out"></em><%end%></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
