<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Log in with facebook or github and order your favorit food</p>
  <a href="/auth/facebook" class="btn btn-primary btn-lg">Facebook</a>
  <a href="/auth/github" class="btn btn-primary btn-lg">Github</a>
</div>